<div class="nav-container" th:fragment="nav">

    <div class="mobile-topbar-header">
        <div>
            <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">NaviTrack</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <nav class="topbar-nav">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/equipes" >
                    <div class="parent-icon"><i class='bx bxs-flag'></i>
                    </div>
                    <div class="menu-title">Teams</div>
                </a>
               
               
            </li>
            <li>
                <a href="/postes" >
                    <div class="parent-icon"><i class="bx bx-news"></i>
                    </div>
                    <div class="menu-title">Postes</div>
                </a>
                
            </li>
            <li>
                <a  href="/calendrier">
                    <div class="parent-icon"><i class="bx bx-calendar"></i>
                    </div>
                    <div class="menu-title">Calendrier des Matches</div>
                </a>
               
            </li>
            <li>
                <a  href="/joueurs">
                    <div class="parent-icon"><i class="bx bxs-user-circle"></i>
                    </div>
                    <div class="menu-title">Joueurs</div>
                </a>
               
            </li>
            <li>
                <a  href="/staff">
                    <div class="parent-icon"><i class="bx bxs-user-circle"></i>
                    </div>
                    <div class="menu-title">Staff</div>
                </a>
               
            </li>

        </ul>
    </nav>
</div>